*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.small-card{
    padding: 12px;
}
body {
    margin-right: 0;
    background-color: #F5F6F7;
    color: #44566C;
    font-family: "Archivo", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.65;
}
/*sidebarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/

.gutter-top{
    padding-top: 10rem;
}

.shadow {
    box-shadow: 0 2.5rem 3.125rem rgba(103, 118, 128, 0.1) !important;
}
.box {
    background-color: #fff;
    border-radius: 20px;
    padding: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
    transition: box-shadow .3s ease-in-out;
}
/*color  before the div*/
.shadow::before {
    content: '';
    box-shadow: 0 1.875rem 3.125rem rgba(103, 118, 128, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 2rem;
    width: 65%;
    z-index: -1;
}

/*SVGggggggggggggggggggggggg*/
.sidebar .avatar {
    margin-top: -8rem;
    margin-bottom: 1.5625rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
}
.avatar--180 {
    border-radius: 3rem;
    max-height: 11.25rem;
    max-width: 11.25rem;
    height: 11.25rem;
    width: 11.25rem;
}
.avatar {
    display: block;
    height: 100%;
    width: 100%;
}
.avatar image {
    height: 100%;
    width: 100%;
}



/*tittle*/
.text-center {
    text-align: center !important;
}
.sidebar__user-name {
    font-size: 1.8125rem !important;
    font-family: "Merriweather", serif;
    margin-bottom: 0.875rem !important;
    position: relative;
}
.weight--500{
    font-weight: 500;
}

.title--h3 {
    font-size: 1.5rem;
    margin-bottom: 1.3125rem;
}

/*for badgeeeeeeeeeeeeeeeeeeeeeeeeee*/

.badge {
    font-size: 0.9375rem !important;
    font-weight: 400 !important;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}
.badge--gray {
    background-color: #F0F0F6;
    color: #44566C;
}
.badge {
    font-size: 0.9375rem;
    font-weight: 400;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
}


/*logo below the badge*/
.social {
    line-height: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.375rem;
}

.social__link {
    color: #44566C;
    display: inline-block;
    font-size: 0.875rem;
    margin-left: 0.8125rem;
    text-decoration: none;
}
a {
    color: #304CFD;
    cursor: pointer;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition: color 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);

}

.social__link:first-child {
    margin-left: 0;
}

.fa {
   /* font-family: 'icomoon' !important;*/
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
}

/*next inner box of the left box*/
/*js list*/
.inner-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.75rem;
    padding-right: 2rem;
    position: absolute;
    top: 0;
    right: -10px !important;
    width: 70%;
    z-index: 1;
}
.open-menu .inner-menu {
    pointer-events: all;
}
.nav {
    color: #fff;
    background: #304CFD;
    border-radius: 2rem 0 0 2rem;
    box-shadow: 0 1.5rem 2.5rem rgba(48, 76, 253, 0.05), 0 0.5rem 1rem rgba(48, 76, 253, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
.inner-menu > * {
    min-width: 0;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav__item {
    margin-right: 3rem;
}
.nav__item a {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar__info {
    padding-top: 1.5625rem;
}
.title__separate {
    margin-bottom: 2.3125rem;
    position: relative;
}
.title__separate::before {
    content: '';
    background-color: #304CFD;
    border-radius: 0.5rem;
    height: 0.3125rem;
    position: absolute;
    bottom: -1.0625rem;
    left: 0;
    width: 3.125rem;
    z-index: 1;
}
.shadow::before {
    content: '';
    box-shadow: 0 1.875rem 3.125rem rgba(103, 118, 128, 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 2rem;
    width: 65%;
    z-index: -1;
}
.box-inner--rounded::after {
    border-radius: 0 0 20px 0;
}

.title--h1 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
/*.font-size {
    font-size: .75em;
}*/
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
/*box inner*/
.box-inner {
    margin: 0;
    background-color: #F5F8F9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
}


/*background color before and after the inner box*/
.box-inner--rounded::before {
    border-radius: 0 0 0 20px;
}
.box-inner::before {
    left: -1.875rem;
}
.box-inner--white::before, .box-inner--white::after {
    background-color: #fff !important;
}
/*contact box*/
.contacts-block {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem;
    overflow: hidden;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.contacts-block__item {
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contacts-block {
    list-style: none;
}

.contacts-block__item a {
    color: #44566C;
    text-decoration: none;
}


.contacts-block .fa {
    font-size: 1.125rem;
    margin-right: 0.875rem;
}

/*download cv button*/
.sidebar .btn {
    width: 100%;
}
.btn {
    background-color: #304CFD;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(48, 76, 253, 0.15), 0 0.125rem 0.25rem rgba(48, 76, 253, 0.15);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
}

.btn .fa {
    margin-right: 0.375rem;
}
#carouselExampleCaptions {
    margin-top: -38px;
}
#carouselExampleCaptions1 {
    margin-top: -38px;
    margin-bottom: -13px;
}
/*end of left box*/

/*right box*/


.main-box.shadow {
    border-radius: 20px;

}

.box1.bg-whitee {
    position: sticky;
    top: 100px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bg-triangle{

    background-image: url(asset/triangleTop.svg), url(asset/triangleBottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: inherit;
}

/*for left card*/




.fa.fa-map-marker {
    margin-right: 21px;
}



/*.contacts-block__item{
    color: #44566c;
    display: flex;
    align-items: center;
    margin-bottom: 0.6875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
.form-group {
    margin-bottom: 2rem;
    position: relative;
}

.form-group .fa {
    color: #8697A8;
    font-size: 1.0625rem;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.375rem;
    height: 1rem;
    width: 1rem;
    z-index: 1;
}

.input.input__icon.form-control {
    padding-left: 3.37rem;
}
.input {
    line-height: inherit;
}
.input, .textarea, select, .custom-select {
   /* background-color: #F5F8F9;*/
    border: 1px solid #F5F8F9;
    border-radius: 20px;
    box-shadow: none;
    color: #44566C;
    font-size: inherit;
    height: auto;
    padding: 0.875rem 1.375rem 0.8125rem;
    padding-left: 1.375rem;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.textarea {
    border-radius: 20px;
    display: block;
    padding: 0.8125rem 3.1875rem;
    resize: none;
}
.text-right {
    text-align: right !important;
}
.btnn {
    background-color: #304CFD;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(48, 76, 253, 0.15), 0 0.125rem 0.25rem rgba(48, 76, 253, 0.15);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
}
.btnn.disabledd {
    opacity: .65;
}

.btnn:hover {
    color: #fff;
    box-shadow: none;
    opacity: .9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}
.h1, h1 {
    font-size: 2.5rem;
}

ul,li{
    list-style-type: none;
    margin-right: 12px;
    color: #44566C;
    margin-bottom: 0.6875rem;
}
.btn{
    border-radius:15px;
    width: 100%;
    padding: 0.9375rem 2rem 0.875rem;


}
.dcv{
    margin:0.875rem 26px;
}
hr{
    height: 4px !important;
    width: 57px;
    color: #304CFD;
    font-weight: 700;
}

.profile-picture img{
    border-radius: 20px;
}
.box2.bg-whitee {
    padding: 35px 35px 14px 35px;
}

.inner-box2 {
    padding: 35px 35px 14px 35px;
   background-color:  #F5F8F9;
}

.title--h5{

    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #44566C;

}


.case-item {
    display: flex;
    height: calc(100% - rem(30px));
    margin-bottom: 1.875rem;
    padding: 1.875rem 1.875rem 1.5rem;
    position: relative;
}

.box__second {
    background-color: #fff;
    border-radius: 20px;
}

.box-inner--white::before, .box-inner--white::after {
    background-color: #fff;
}
.box-inner::before {
    left: -1.875rem;
}
.box-inner::before, .box-inner::after {
    content: '';
    background-color: #F5F8F9;
    height: 100%;
    position: absolute;
    top: 0;
    width: 1.875rem;
    z-index: -1;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    max-height: 11.25rem;
    max-width: 11.4rem;
}
.avatar img{
    border-radius: 2.5rem;
    margin-top: -5.5rem;
    margin-bottom: 1.0rem;
}
/*.contacts-block {
    margin-left: 3%;
}*/

.weight-500 {
    font-weight: 500;
}



/*.main-box{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}*/
.burger{
    display: inline;
}

.circle-menu {
    background-color: #304CFD;
    border-radius: 50% 1.25rem 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 3.75rem;
    z-index: 2;
}

.inner-menu {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.75rem;
    padding-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    z-index: 1;
}

.box1{
    background-color: #fff;
    border-radius: 20px;

    position: relative;
    transition: box-shadow .3s ease-in-out;
}


.hamburger .line {
    background-color: #fff;
    border-radius: 0.25rem;
    display: block;
    margin: 0.3125rem 0;
    height: 0.1875rem;
    width: 1.5rem;
    transition: all 0.2s ease-in-out;
}
.hamburger {
    cursor: pointer;
}

.box-inner--white {
    background-color: #fff;
}

.slider1{
    padding: 35px 35px 14px 35px;
}
.box__second2{
    background-color:#F5F8F9 ;
}
.slider-button{
    color: #304CFD !important; ;
    background-color: #304CFD !important;
}
.avatar2{
    position: absolute;
    top: -40px;
    margin-left: 2%;
}
.headings-paragraph{
   margin-left: 4%;
    margin-right: auto;
}
.case-item__icon {
    margin-bottom:1.98rem ;
    margin-right: 1.1875rem;
    height: 2.5rem;
    width: 2.5rem;
}

.case-item2 {
    background-image: url("./asset/duble  cots.svg");
    background-repeat: no-repeat;
    background-position: right 1.875rem top 0.875rem;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex: 1;
    height: calc(100% - rem(30px));
    margin-bottom: 1.875rem;
    position: relative;
}
.testimonal-data{

    margin-right: 3%;
    margin-top: 8%;
    margin-left: 3%;
}
.testimonal-data h3{
    margin-left: 25%;
    font-family: "Merriweather", serif;
    font-size: 1.1875rem;

}
.carousel-item{

    margin-top: 4rem;
    margin-bottom: 1rem;
}
.avatar--80 {
    max-height: 5rem;
    max-width: 5rem;
    filter: drop-shadow(-0.15625rem 0 0 #fff) drop-shadow(0.1875rem 0 0 #fff) drop-shadow(0 -0.125rem 0 #fff) drop-shadow(0 0.125rem 0 #fff) drop-shadow(0 0.25rem 0.25rem rgba(134, 151, 168, 0.25)) drop-shadow(0 0.5rem 0.5rem rgba(134, 151, 168, 0.4));
}

.inner-box3 {
    padding: 35px 35px 12px 35px;
    background-color:#F5F8F9 ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-box2.shadow {
    border-radius: 20px;
}
/*.row{
    margin-right: -15px;
    margin-left: -15px;
}*/

.footer {
    color: #8697A8;
    font-size: 0.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}





@media (min-width: 992px){
    .col-lg-12  {
        flex: 0 auto 0;
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }
}
@media only screen and (max-width: 992px){
    .circle-menu {
        border-radius: 50%;
        margin-top:  1rem;
        margin-right: 1rem;
        position: fixed;
        height: 2.5rem;
        width: 2.5rem;
        z-index: 1101;
    }
}

/*blogggggggggggggggggggggggggggggggggggggggggggggg*/
.news-grid {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

.news-item {
    box-shadow: 0 1.5rem 2.5rem rgba(169, 194, 209, 0.3);
    margin-bottom: 1.875rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    padding: 0;
    width: calc(100% - 30px);
}

.news-item__image-wrap {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    height: 14rem;
    position: relative;
}

.news-item__date {
    background-color: #fff;
    color: #5F6F81;
    border-radius: 0 0.625rem 0 0;
    font-size: 0.875rem;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    padding-bottom: 0.1875rem;
    padding-top: 0.3125rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.news-item__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}



.cover {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    width: 100%;
}
img {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    border-style: none;
}
.news-item .title {
    font-family: "Merriweather", serif;
    font-size: 1.25rem;
    margin-bottom: 0.8125rem;
}
.news-item__caption {
    padding: 1.875rem 1.875rem 0.5rem;
}

/*blog details header*/
.header-post {
    margin-top: 1rem;
    text-align: center;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.header-post__date {
    color: #8697A8;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.header-post .title {
    font-family: "Merriweather", serif;
    margin-bottom: 1.5rem;
}


.caption-post {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 80%;
}
.header-post__image-wrap {
    height: 31.25rem;
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    margin-bottom: 2.5rem;
}
.cover {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
    height: 100%;
    width: 100%;
}

.header-post .title {
    font-family: "Merriweather", serif;
    margin-bottom: 1.5rem;
}

.caption-post {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 80%;
}

.header-post__image-wrap {
    height: 31.25rem;
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    margin-bottom: 2.5rem;
}

.gallery-post {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.medium-zoom-image {
    cursor: pointer;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1);
}
.medium-zoom-image {
    cursor: pointer !important;
    z-index: 1104;
}
.gallery-post__item {
    flex: calc(50% - 32px);
    height: auto;
    max-height: 80vw;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(50% - 32px);
}
.caption-post {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    width: 80%;
}

.block-quote {
    font-size: 1.3125rem;
    font-weight: 400;
    font-style: italic;
    margin: 1.8125rem 0;
    position: relative;
    line-height: 1.6;
}
.footer-post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    position: relative;
}
.footer-post__share {
    display: flex;
    align-items: baseline;
    color: #44566C;
    font-size: 0.875rem;
    margin: 0 1.0625rem;
}

/*.boxx {
    background-color: #F5F8F9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 0;
}*/

.color--light {
    color: #8697A8;
}
.comment-box {
    display: flex;
    flex-direction: column;
}
.comment-box__inner {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}
.comment-box .avatar {
    margin-right: 1rem;
    flex-shrink: 0;
}
.comment-box__inner > * {
    min-width: 0;
}
.avatar--60 {
    max-height: 3.75rem;
    max-width: 3.75rem;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(134, 151, 168, 0.2)) drop-shadow(0 0.5rem 0.5rem rgba(134, 151, 168, 0.2));
}
.avatar {
    display: block;
    height: 100%;
    width: 100%;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.avatar image {
    height: 100%;
    width: 100%;
}
.comment-box__body {
    color: #5F6F81;
    flex: 1;
    font-size: 0.9375rem;
    line-height: 1.6;
}

.comment-box__details-date {
    font-size: 0.875rem;
    font-weight: 400;
    color: #8697A8;
}
.comment-box__footer {
    color: #8697A8;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-box__footer li{
    color: #8697A8;
}
.comment-box__footer li {
    cursor: pointer;
    margin-right: 2rem;
}
.comment-box__footer .icon-like-fill {
    color: #FF3D57;
}
.comment-box__footer .fa {
    font-size: 1rem;
    vertical-align: text-bottom;
    margin-right: 0;
}
.comment-box .comment-box {
    margin-left: 3rem;
}
.comment-box__inner {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
}

.comment-box__details {
    display: flex;
    justify-content: space-between;
    font-size: 1.0625rem;
    color: #44566C;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.comment-box__body .emoji {
    margin: 0 0.3125rem;
    vertical-align: bottom;
}

.comment-box__footer span {
    font-size: 0.875rem;
    padding-left: 0.375rem;
}
.comment-form .textarea {
    border-radius: 0.5rem;
    padding: 1.0625rem 4.5rem 1rem 3.1875rem;
    max-height: 12.5rem;
    overflow: hidden !important;
}
.gallery-post__caption {
    color: #8697A8;
    font-size: 0.875rem;
    font-style: italic;
    padding: 1rem 1rem 2rem;
    text-align: center;
    width: 100%;
}
.gallery-post__caption a {
    color: #8697A8;
}

.footer-post__share {
    color: #44566C;
    font-size: 0.875rem;
}
.social-auth__item {
    display: inline;
}
.comment-form .btn {
    height: 2.5625rem;
    margin-right: 0.5rem;
    margin-bottom: 2.6rem;
    margin-top: auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.5625rem;
    border-radius: 2rem;
    background-color: #304CFD;
}
.btn:hover {
    color: #fff;
    box-shadow: none;
    opacity: .9;
}
.btn:hover {

    text-decoration: none;
}
/*.btn {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    white-space: nowrap;
}*/
.faSend{
    color: white;
    margin: 0;
}



.box--rounded::before {
    border-radius: 0 0 0 20px;
}
.box-inner::before {
    left: -1.875rem;
}

.box--rounded::after {
    border-radius: 0 0 20px 0;
}
.box-inner::after {
    right: -1.875rem;
}

.smile{
    color: #8697A8;
    cursor: pointer;
    font-size: 1.1875rem;
}
.fa.fa-smile-o.smile {
    position: absolute;
    bottom: 3.3rem;
    color: #5F6F81;
    font-size: 1.1875rem;
    left: 1.5rem;
}
.fa-smile-o::before {
    content: "\f118";
    font-size: 1.1rem;
    color: #8697A8;
}
.avatar3{
    margin-right: 1rem;
}
.fa-heart{
    color: red;
}

.comment-box__footer li {
    cursor: pointer;
    margin-right: 2rem;
}

.comment-box__footer span {
    font-size: 0.875rem;
    padding-left: 0.375rem;
}
.footer-post__share .fa {
    margin-right: 0.6875rem;
}
.social-auth__link {
    color: #8697A8;
}

/*.filter__item {
    display: inline;
}*/

/*portfolio0000000000000000000000000000000000000000000*/

.filter {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 1.1875rem;
    padding: 0;
}
.filter__item {
    padding-right: 1.1875rem;
}
.filter__link {
    color: #8697A8;
    padding: 0 0.25rem;
    text-decoration: none;
    display: block;
    position: relative;
}
.gallery-grid__image-wrap {
    border-radius: 14px;
    height: 11rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
.medium-zoom-image {
    cursor: pointer;
    cursor: zoom-in;
    transition: transform .3s cubic-bezier(.2,0,.2,1);
}
/*title*/
.gallery-grid__title {
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}
/*category type*/
.gallery-grid__category {
    font-size: 0.875rem;
    color: #8697A8;
    display: block;
}
.filter__item.active a {
    color: #304CFD;
}
.gallery-grid__item{
    padding-bottom: 1rem;
}

/*resumeeeeeeeeeeeeeeeeeeeeeeeee*/
.title-icon {
    margin-right: 0.5rem;
    margin-top: -0.25rem;
    height: 2.5rem;
    width: 2.5rem;
}
.progress {

    background-color: #F0F0F6;
    border-radius: 1rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: right;
    margin-bottom: 1.5rem;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.progress .progress-text {
    display: flex;
   /* align-items: center;*/
    justify-content: space-between;
    height: 100%;
    padding-left: 0.8125rem;
    padding-right: 0.8125rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.progress-bar {
    background-color: #304CFD;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    width: 0%;
    z-index: 1;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
    padding-left: .7rem !important ;
}
.timeline__period {
    color: #8697A8;
    font-size: 0.875rem;
}
.timeline__item {
    border-left-color: #F0F0F6;
    border-left-width: 1px;
    border-left-style: solid;
    padding-bottom: 0.5625rem;
    padding-left: 1.375rem;
    position: relative;
}
.timeline__item:last-child {
    border: 0;
}

/*before for the bullets*/

.timeline__item::before {
    content: '';
    background-color: #304CFD;
    box-shadow: 0 0 0 0.1875rem rgba(48, 76, 253, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -0.3125rem;
    height: 0.625rem;
    width: 0.625rem;
}
.map {
    background-color: #F5F8F9;
    border-radius: 13.3333333333px;
    height: 23.75rem;
    margin-bottom: 2rem;
    position: relative;
    direction: ltr;
}
